* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }


.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

h2 {
  text-align: center;
  color: #fff;
}

.header_top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 70px;
  width: 100%;
  background-color: #2C3E50;
}

.menu-inline li {
  display: inline;
  list-style: none;
  text-align: center;
  color: #fff;
}

.navbar p {
  text-align: center;
  color: #fff;
}

.jumbotron div p {
  text-align: center;
  color: #fff;
}
.bg_green {
  background-color: #19BC9C;
  height: 400px;
}

.textm-top {
  padding-top: 15%;
}

.first_section {
  background-color: #fff;
  height: 500px;
  width: 100%;
}
.border {
  margin-top: 1%;
  margin-left: 2.5%;
  border-radius: 10px;
  width: 30%;
  height: 150px;
  border: 1px solid #000;
}

section .container h2 {
  color: #000;
  border-bottom: 1px solid #000;
}
