/* basic value */

 * {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

.wrapper {
  width: 70%;
  margin: auto;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  margin-top: 30px;
  border-radius: 10px;
  min-width: 250px;
  min-height: 250px;
}

.border {
  margin-top: 2%;
  padding-left: 5%;
  border-radius: 10px;
  border: 1px solid #000;
}

.hr_1 {
  border-radius: 5px;
  width: 10%;
  height: 5px;
  display: inline-block;
  vertical-align: super;
}

.hr_2 {
  border-radius: 5px;
  width: 10%;
  height: 5px;
  display: inline-block;
  vertical-align: super;
}

.white {
  color: #fff;
  background-color: #fff;
}

.black {
  color: #000;
  background-color: #000;
}

.fa-star {
  color: #fff;
  font-size: 30px;
  vertical-align: bottom;
}

.text-align {
  text-align: center;
}

.padding {
  padding: 0px 10px;
}

.padding_bottom {
  padding-bottom: 30px;
}

.padding_top {
  padding-top: 30px;
}

.padding_left {
  padding-left: 30px;
}

.padding_right {
  padding-right: 30px;
}

.margin_bottom {
  margin-bottom: 30px;
}

.margin_top {
  margin-top: 30px;
}

.margin_left {
  margin-left: 30px;
}

.margin_right {
  margin-right: 30px;
}

.no-gutter {
  margin-right: 0px;
  margin-left: 0px;
}

/* style */
/* header top */

.header_top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 80px;
  min-height:80px;
  width: 100%;
  min-width: 100%;
  line-height: 80px;
  background-color: #2C3E50;
}

.header_top .menu_button {
  margin-top: 2%;
}

.fa-bars {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #19BC9C;
  border-radius: 5px;
}

#Menu {
  float: left;
  margin-right: 15px;
}

.menu-inline li {
  display: inline;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
  font-size: 2.0rem;
  font-weight: bold;
}

.navbar div p {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* jumbotron */

.jumbotron div p {
  color: #fff;
}

.bg_lightgreen {
  background-color: #19BC9C;
  min-width: 300px;
  min-height: 300px;
}

.jumbotron .row h2 {
  color: #fff;
}

.jumbotron img {
  margin-top: 70px;
  width: 250px;
  height: 250px;
}
/* fine jumbotron */
/* inizio main-prima sezione */

.first_section {
  background-color: #fff;
}

.first_section .container h2 {
  color: #000;
}

.first_section .container div span {
  color: #000;
}

.first_section .container div i {
  color: #000;
}

.first_section .row img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.overlay {

  background-color: #19BC9C;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.col:hover .overlay{
  display:block;
}

/* seconda sezione */

.bg_darkgreen {
  background-color: #19BC9C;
  width: 100%;
}

.fa-download {
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
}

.second_section .btn {
  color: #fff;
  background-color: #19BC9C;
  border: 2px solid #fff;
}

.second_section h2 {
  color: #fff;
}
.second_section p {
  color: #fff;
}

/* terza sezione */

.third_section {
  background-color: #fff;
  width: 100%;
}

.third_section h2 {
  color: #000;
}

.third_section .container-fluid p {
  margin-top: 30px;
  color: #000;
  line-height: 40px;
}

.third_section .container-fluid p {
  border-bottom: 1px solid #DCDCDC;
}

#Black_star {
  color: #000;
}

#Message {
  margin-top: 20%;
}
.third_section .container-fluid button{
  margin-top: 2%;
  color: #fff;
  background-color: #19BC9C;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  border: 2px solid #19BC9C;
}

/* fine main-terza sezione */
/* inizio footer-prima sezione */

.bg_lightblue {
  background-color: #475F77;
  width: 100%;
}

.social_menu {
  list-style: none;
}

.social_menu li {
  display: inline-block;
  background-color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin: 0px 40px 10px 0px;
}

.social_menu li {
  display: inline-block;
  background-color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin: 0px 40px 10px 0px;
}

.social_menu i {
  margin-top: 25%;
  width: 100%;
  font-size: 20px;
}

.first_footer_section h3 {
  margin-top: 50px;
  color: #fff;
}

.first_footer_section p {
  color: #fff;
}

/* fine prima sezione */
/* inizio seconda sezione */

.bg_darkblue {
  background-color: #2C3E50;
  width: 100%;
}

.second_footer_section p {
  color: #fff;
  text-align: center;
  margin-top: 4%;
}

/* fine footer */

/* Responsive media */

@media screen and (max-width:768px) {
  .navbar div p {
    font-size: 15px;
  }
  .fa-bars {
    font-size: 15px;
    margin-top: 10px;

  }
}

@media screen and (max-width:450px) {
  .navbar div p {
    font-size: 10px;
  }

  .fa-bars {
    font-size: 12px;
    margin-top: 15px;
  }
