/* basic value */

 * {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

.wrapper {
  width: 35%;
  margin: auto;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }

h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 10px;
  border-radius: 10px;
}

.border {
  margin-top: 2%;
  padding-left: 5%;
  border-radius: 10px;
  border: 1px solid #000;
}

.text-align {
  text-align: center;
}

.padding {
  padding: 0px 10px;
}

.padding_top {
  padding-top: 30px;
}

.padding_bottom {
  padding-bottom: 30px;
}

.padding_top {
  padding-bottom: 30px;
}

.padding_left {
  padding-bottom: 30px;
}

.padding_right {
  padding-bottom: 30px;
}

.margin_bottom {
  padding-bottom: 30px;
}

.margin_top {
  padding-bottom: 30px;
}

.margin_left {
  padding-bottom: 30px;
}

.margin_right {
  padding-bottom: 30px;
}

.no-gutter {
  margin-right: 0px;
  margin-left: 0px;
}

/* style */
/* header top */

.header_top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 70px;
  width: 100%;
  background-color: #2C3E50;
}

.fa-bars {
  color: #fff;
  font-size: 20px;
  background-color: #2C3E50;
  float: right;
  border: 1px solid #fff;
  padding: 5px 8px;
  border-radius: 5px;
}

.menu-inline {
  margin-top: 4%;
  text-align: center;
}

.menu-inline li {
  display: inline;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 1.8rem;
}

.navbar p {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 4%;
  text-transform: uppercase;
}

/* jumbotron */

.jumbotron div p {
  text-align: center;
  color: #fff;
}

.bg_lightgreen {
  background-color: #19BC9C;
  width: 100%;
}

.hr_1_white {
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding-bottom: 15px;
}

.hr_2_white {
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding-bottom: 15px;
}

.fa-star {
  color: #fff;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* fine jumbotron */
/* inizio main-prima sezione */

.first_section {
  background-color: #fff;
  width: 100%;
}

.first_section .container h2 {
  color: #000;
}

.first_section .container div span {
  color: #000;
}

.first_section .container div i {
  color: #000;
}

/* seconda sezione */

.bg_darkgreen {
  background-color: #19BC9C;
  width: 100%;
}

.second_section .btn {
  color: #fff;
  background-color: #19BC9C;
  border: 2px solid #fff;
}

.second_section p {
  color: #fff;
}

/* terza sezione */

.third_section {
  background-color: #fff;
  width: 100%;
}

.third_section h2 {
  color: #000;
}

.third_section .container-fluid p {
  margin-top: 30px;
  color: #000;
  line-height: 40px;
}

#black_star {
  color: #000;
}


.third_section .container-fluid p {
  border-bottom: 1px solid #DCDCDC;
}

#Message {
  margin-top: 20%;
}
.third_section .container-fluid button{
  margin-top: 2%;
  color: #fff;
  background-color: #19BC9C;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  border: 2px solid #19BC9C;
}

/* fine main-terza sezione */
/* inizio footer-prima sezione */

.bg_lightblue {
  background-color: #475F77;
  width: 100%;

}
.first_footer_section ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
  padding-left: 3px;
  color: #fff;
}

.first_footer_section h3 {
  margin-top: 50px;
  color: #fff;
}

.first_footer_section p {
  color: #fff;
}

/* fine prima sezione */
/* inizio seconda sezione */

.bg_darkblue {
  background-color: #2C3E50;
  width: 100%;
}

.second_footer_section p {
  color: #fff;
  text-align: center;
  margin-top: 4%;
}

/* fine footer */
